<template>
  <div>
    <h4>Todos:</h4>
    <ul>
      <li v-for="item in todos" :key="item.id">
        <!-- <slot name="undone" :undone="item"></slot> -->
        <input type="checkbox" @click="toggleDoneC(item.id)" :checked="item.done">
        <!-- v-model绑定可以实现修改父组件传入的props值，但是并不会修改对应的父组件的值，刷新后会重新使用未被修改的值 -->
        <!-- <input type="checkbox" v-model="item.done"> -->
        <span>{{item.todoName}}</span>
        <button class="deleteButton" @click="deleteItemC(item.id)">D</button>
      </li>
    </ul>
    <h4>Dones:</h4>
    <ul>
      <li v-for="item in dones" :key="item.id">
        <input type="checkbox" @click="toggleDoneC(item.id)" :checked="item.done">
        <!-- <input type="checkbox" v-model="item.done"> -->
        <span>{{item.todoName}}</span>
        <button class="deleteButton" @click="deleteItemC(item.id)">D</button>
      </li>
    </ul>
    <hr>
    <p>You have {{todos.length + dones.length}} todos, {{dones.length}} completed and {{todos.length}} unfinished</p>
  </div>
</template>

<script>
export default {
  props: ['todos','dones'],
  methods: {
    deleteItemC (id) {
      console.log('the item is deleted')
      this.$emit("delete-event", id)
    },
    toggleDoneC (id) {
      this.$emit("toggle-event", id)
    },
    changePP() {
      this.pp = 40
      console.log(pp);
    }
  }
}
</script>

<style scoped>
* {
  color: #555;
}
ul {
  padding: 0 10px;
}
ul li {
  font-size: 18px;
  margin: 5px 0;
  list-style: none;
}
.deleteButton {
  float: right;
  margin-right: 10px;
}
h4 {
  display: block;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  background: #eee;
}
p {
  text-align: center;
  color: rgba(182, 38, 38, 0.5);
}
</style>