<template>
  <div class="todoDiv">
    <input type="text" class="todoInput" placeholder="New todo" @keyup.13="addItem" v-model="todo">
    <todo-item 
    :todos="todoList | todoFilter" 
    :dones="todoList | doneFilter" 
    @delete-event="deleteItemP($event)"
    @toggle-event="toggleDoneP($event)">
    </todo-item>
  </div>
</template>

<script>
import TodoItem from './TodoItem.vue'

export default {
  components: {
    TodoItem,
  },
  data () {
    // 如果为空，也需要赋值，filter不能作用于空对象
    const storage = JSON.parse(localStorage.getItem("todoList"))
    const todoList = storage? storage:[]
    return {
      todoList,
      todo: '',
    }
  },
  filters: {
    todoFilter (list) {
      return list.filter(item => item.done == false)
    },
    doneFilter (list) {
      return list.filter(item => item.done == true)

    }
  },
  methods: {
    updateLocal () {
      localStorage.setItem("todoList", JSON.stringify(this.todoList))
    },
    addItem () {
      this.todoList.push({
        todoName: this.todo,
        done: false,
        id: Date.now()
      })
      console.log(this.todoList);
      this.todo = ''
      this.idCount++
      this.updateLocal()
    },
    // 删除指定id的todo
    deleteItemP (id) {
      this.todoList = this.todoList.filter(item => item.id != id)
      localStorage.setItem("todoList", JSON.stringify(this.todoList))
      this.updateLocal()
    },
    // 父组件切换事件完成状态
    toggleDoneP (id) {
      const ind = this.todoList.findIndex(item => item.id == id)
      this.todoList[ind].done = ! this.todoList[ind].done
      this.updateLocal()
    }
  }
} 
</script>

<style scoped>
.todoDiv {
  padding: 10px;
}

.todoInput {
  width: 100%;
  height: 40px;
  border: 2px solid #666;
  border-radius: 3px;
  padding: 0 5px;
  font-size: 16px;
}
</style>
