<template>
  <div class="w">
    <h1>Pie's TodoList</h1>
    <hr>
    <todo-list>
    </todo-list>
  </div>
</template>

<script>
import TodoList from './components/TodoList.vue'

export default {
  data () {
    return {
      age: 23,
      prentdata: 'parentdata'
    }
  },
  methods: {
    
  },
  components: {
    TodoList
  }
}
</script>

<style scoped>
.w {
  width: 500px;
  margin: 0 auto;
}
h1 {
  color: rgba(182, 38, 38, 0.5);
  text-align: center;
}
</style>

<style>
* {
  box-sizing: border-box;
}
</style>